h1 {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

h2 {
  font-size: 1.5rem;
}

#search_box {
  position: relative;
}

#search_box .form-control {
  background: inherit;
  color: #FFF;
}

#search_box .btn {
  background: none;
  color: inherit;
  border: none;
  z-index: 100;
}

#search_box .input-group-prepend {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

#search_box .input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

#contents {
  /* header: 95px */
  min-height: calc(100vh - 95px);
}

#posts .card {
  max-width: 18rem;
  opacity: .9;
}

#search_box .fa-circle-notch {
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -ms-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}

@-ms-keyframes spin {
  0% {-ms-transform: rotate(0deg);}
  100% {-ms-transform: rotate(360deg);}
}

@-o-keyframes spin {
  0% {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(360deg);}
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
